<header class="sticky top-0 z-10 h-20">
  <nav
    class="inset-x-0 w-full px-4 py-1 bg-background-elevated shadow-lg border-b border-tertiary"
  >
    <div class="flex justify-between p-4 space-x-4">
      <img src="../../../../../../assets/angular-icon.svg" alt="Logo Angular" class="h-12 w-12">

      <div class="flex items-center justify-end space-x-4 font-semibold ">
        <button class="relative focus:outline-none" (click)="darkThemeService.toggleTheme()">
          <div
            class="w-12 h-6 transition bg-primary rounded-full outline-none"
          ></div>
          <div
            class="absolute top-0 left-0 inline-flex items-center justify-center w-6 h-6 transition-all duration-150
            transform scale-110 rounded-full shadow-sm
            {{ darkThemeService.isDarkTheme() ? 'translate-x-6 bg-background-base text-on-tertiary' :
            'translate-x-0 bg-on-primary text-primary' }}"
          >
            @if(darkThemeService.isDarkTheme()) {
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                <path fill-rule="evenodd" d="M9.528 1.718a.75.75 0 0 1 .162.819A8.97 8.97 0 0 0 9 6a9 9 0 0 0 9 9 8.97 8.97 0 0 0 3.463-.69.75.75 0 0 1 .981.98 10.503 10.503 0 0 1-9.694 6.46c-5.799 0-10.5-4.7-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 0 1 .818.162Z" clip-rule="evenodd" />
              </svg>
            } @else {
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                <path d="M12 2.25a.75.75 0 0 1 .75.75v2.25a.75.75 0 0 1-1.5 0V3a.75.75 0 0 1 .75-.75ZM7.5 12a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM18.894 6.166a.75.75 0 0 0-1.06-1.06l-1.591 1.59a.75.75 0 1 0 1.06 1.061l1.591-1.59ZM21.75 12a.75.75 0 0 1-.75.75h-2.25a.75.75 0 0 1 0-1.5H21a.75.75 0 0 1 .75.75ZM17.834 18.894a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 1 0-1.061 1.06l1.59 1.591ZM12 18a.75.75 0 0 1 .75.75V21a.75.75 0 0 1-1.5 0v-2.25A.75.75 0 0 1 12 18ZM7.758 17.303a.75.75 0 0 0-1.061-1.06l-1.591 1.59a.75.75 0 0 0 1.06 1.061l1.591-1.59ZM6 12a.75.75 0 0 1-.75.75H3a.75.75 0 0 1 0-1.5h2.25A.75.75 0 0 1 6 12ZM6.697 7.757a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 0 0-1.061 1.06l1.59 1.591Z" />
              </svg>
            }
          </div>
        </button>
        @if (token$ | async) {
          <button
            class="flex w-32 justify-center rounded-md border border-tertiary px-3 py-1.5 text-sm
            font-semibold leading-6 text-text shadow-sm hover:bg-tertiary hover:text-on-tertiary focus-visible:outline
            focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-tertiary
            transition duration-500 ease-out"
            (click)="logout()"
          >
            Se déconnecter
          </button>
        } @else {
          <button
            routerLink="{{routeToLogin}}"
            class="flex w-32 justify-center rounded-md border border-tertiary px-3 py-1.5 text-sm
            font-semibold leading-6 text-text shadow-sm hover:bg-tertiary hover:text-on-tertiary focus-visible:outline
            focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-tertiary transition
            duration-500 ease-out"
          >
            Se connecter
          </button>
          <button
            routerLink="{{routeToRegister}}"
            class="flex w-32 justify-center rounded-md bg-button-bg px-3 py-1.5 text-sm font-semibold leading-6
            text-white shadow-sm hover:bg-button-hover focus-visible:outline focus-visible:outline-2
            focus-visible:outline-offset-2 focus-visible:outline-button-bg transition duration-500 ease-out"
          >
            S'inscrire
          </button>

        }

      </div>
    </div>
  </nav>
</header>
