<main fxLayout fxFlex="1 1 auto" fxLayoutAlign="center center">
  <mat-card class="home-container">
    <mat-card-header fxLayout="column">
      <mat-card-title>Angular Skeleton</mat-card-title>
      <p>Ce squelette est équipé des meilleures pratiques et outils pour démarrer rapidement le développement d'une application Angular.</p>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list>
        <div mat-subheader>Caractéristiques Principales</div>
        <ul>
          <li>Intercepteur de Token pour la gestion des authentifications</li>
          <li>Snackbar Service pour les notifications utilisateur</li>
          <li>Auth Facade pour simplifier les flux d'authentification</li>
          <li>Lazy Loading pour une meilleure performance</li>
          <li>Store Elf pour la gestion d'état</li>
        </ul>
      </mat-list>
      <mat-list>
        <div mat-subheader>Guide de Démarrage Rapide</div>
        <ol>
          <li>Clonez le dépôt : <code>git clone url_du_dépôt</code></li>
          <li>Installez les dépendances : <code>npm install</code></li>
          <li>Lancez le serveur de développement : <code>ng serve</code></li>
          <li>Visitez <code>http://localhost:4200/</code> pour voir l'application en action.</li>
        </ol>
      </mat-list>
      <mat-list>
        <div mat-subheader>Personnalisation</div>
        <p matListItemLine>Pour adapter ce squelette à votre projet personnel, suivez ces étapes :</p>
        <ol>
          <li>Modifiez les variables d'environnement dans les fichiers <code>environment.ts</code> et <code>environment.prod.ts</code></li>
          <li>Adaptez les modules, composants, services et façades selon les besoins de votre application.</li>
          <li>Utilisez le module Angular CLI pour ajouter ou modifier les éléments de votre application.</li>
        </ol>
      </mat-list>
    </mat-card-content>
    <mat-card-actions align="end">
    @if (token$ | async) {
      <button mat-fab extended color="primary" (click)="logout()">
        <mat-icon>logout</mat-icon>
        SE DÉCONNECTER
      </button>
    } @else {
      <button mat-fab extended routerLink="{{ routeToLogin }}">
        <mat-icon>login</mat-icon>
        SE CONNECTER
      </button>
    }
    </mat-card-actions>
  </mat-card>
</main>
