main {
  height: 100vh;
}

.home-container {
  max-width: 1000px;
  padding: 20px;
  color: white;

  mat-card-title {
    font-size: 2rem;
  }

  code{
    font-weight: lighter;
    font-size: 0.95rem;
  }
}
