<main fxLayout fxFlex="1 1 auto" fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z6">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Inscription</mat-card-title>
    </mat-card-header>
    <form [formGroup]="registerForm" (submit)="onSubmit()">
      <mat-card-content fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <app-input-text labelValue="Prénom"
                  [isRequired]="true"
                  autocompleteValue="given-name"
                  appearanceValue="outline"
                  formControlName="firstname"
                  colorValue="primary"
                  [inputFormControl]="registerForm.controls.firstname"
                  errorMessage="Veuillez entrer votre prénom"
                  fxFlexFill>
        </app-input-text>
        <app-input-text labelValue="Nom"
                  [isRequired]="true"
                  autocompleteValue="family-name"
                  appearanceValue="outline"
                  formControlName="lastname"
                  colorValue="primary"
                  [inputFormControl]="registerForm.controls.lastname"
                  errorMessage="Veuillez entrer votre nom"
                  fxFlexFill>
        </app-input-text>
        <app-input-text labelValue="Email"
                  [isRequired]="true"
                  autocompleteValue="username"
                  appearanceValue="outline"
                  formControlName="email"
                  colorValue="primary"
                  [inputFormControl]="registerForm.controls.email"
                  [errorMessage]="getEmailErrorMessage()"
                  fxFlexFill>
        </app-input-text>
        <app-input-text labelValue="Mot de passe"
                  [isRequired]="true"
                  autocompleteValue="new-password"
                  appearanceValue="outline"
                  formControlName="password"
                  colorValue="primary"
                  [hasActionHide]="true"
                  [inputFormControl]="registerForm.controls.password"
                  [errorMessage]="getPasswordErrorMessage()"
                  (input)="registerForm.controls.confirmPassword.updateValueAndValidity()"
                  fxFlexFill>
        </app-input-text>
        <app-input-text labelValue="Confirmer mot de passe"
                  [isRequired]="true"
                  autocompleteValue="new-password"
                  appearanceValue="outline"
                  formControlName="confirmPassword"
                  colorValue="primary"
                  [hasActionHide]="true"
                  [inputFormControl]="registerForm.controls.confirmPassword"
                  [errorMessage]="getConfirmPasswordErrorMessage()"
                  fxFlexFill>
        </app-input-text>
      </mat-card-content>
      <mat-card-actions fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <app-icon-button buttonType="extended-fab" color="primary" icon="person_add" type="submit">
          Créer un compte
        </app-icon-button>
        <a mat-button routerLink="/auth/login">Déjà inscrit ? Connectez-vous</a>
      </mat-card-actions>
    </form>
  </mat-card>
</main>
