<main fxLayout fxFlex="1 1 auto" fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z6">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Inscription</mat-card-title>
    </mat-card-header>
    <form [formGroup]="registerForm" (submit)="onSubmit()">
      <mat-card-content fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <app-input-text label="Prénom"
                  [required]="true"
                  autocomplete="given-name"
                  appearance="outline"
                  formControlName="firstname"
                  color="primary"
                  [formControl]="registerForm.controls.firstname"
                  errorMessage="Veuillez entrer votre prénom"
                  fxFlexFill>
        </app-input-text>
        <app-input-text label="Nom"
                  [required]="true"
                  autocomplete="family-name"
                  appearance="outline"
                  formControlName="lastname"
                  color="primary"
                  [formControl]="registerForm.controls.lastname"
                  errorMessage="Veuillez entrer votre nom"
                  fxFlexFill>
        </app-input-text>
        <app-input-text label="Email"
                  [required]="true"
                  autocomplete="username"
                  appearance="outline"
                  formControlName="email"
                  color="primary"
                  [formControl]="registerForm.controls.email"
                  [errorMessage]="getEmailErrorMessage()"
                  fxFlexFill>
        </app-input-text>
        <app-input-text label="Mot de passe"
                  [required]="true"
                  autocomplete="new-password"
                  appearance="outline"
                  formControlName="password"
                  color="primary"
                  [actionHide]="true"
                  [formControl]="registerForm.controls.password"
                  [errorMessage]="getPasswordErrorMessage()"
                  (input)="registerForm.controls.confirmPassword.updateValueAndValidity()"
                  fxFlexFill>
        </app-input-text>
        <app-input-text label="Confirmer mot de passe"
                  [required]="true"
                  autocomplete="new-password"
                  appearance="outline"
                  formControlName="confirmPassword"
                  color="primary"
                  [actionHide]="true"
                  [formControl]="registerForm.controls.confirmPassword"
                  [errorMessage]="getConfirmPasswordErrorMessage()"
                  fxFlexFill>
        </app-input-text>
      </mat-card-content>
      <mat-card-actions fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <app-icon-button buttonType="extended-fab" color="primary" icon="person_add" type="submit">
          Créer un compte
        </app-icon-button>
        <a mat-button routerLink="/auth/login">Déjà inscrit ? Connectez-vous</a>
      </mat-card-actions>
    </form>
  </mat-card>
</main>
