<main fxLayout fxFlex="1 1 auto" fxLayoutAlign="center center">

  <mat-card class="mat-elevation-z6">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Connexion</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm" (submit)="onSubmit()">
      <mat-card-content fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <app-input-text label="Email"
                        [required]="true"
                        type="email"
                        autocomplete="username"
                        appearance="outline"
                        formControlName="email"
                        color="primary"
                        [formControl]="loginForm.controls.email"
                        [errorMessage]="getEmailErrorMessage()"
                        fxFlexFill
        ></app-input-text>
        <app-input-text label="Mot de passe"
                        [required]="true"
                        type="password"
                        autocomplete="current-password"
                        appearance="outline"
                        formControlName="password"
                        color="primary"
                        [formControl]="loginForm.controls.password"
                        [actionHide]="true"
                        errorMessage="Veuillez entrer votre mot de passe"
                        fxFlexFill
        ></app-input-text>
      </mat-card-content>
      <mat-card-actions fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <app-icon-button buttonType="extended-fab" color="primary" icon="login" type="submit">
          Se connecter
        </app-icon-button>
        <a mat-button routerLink="/auth/register">Vous n'avez pas de compte ? Inscrivez-vous</a>
      </mat-card-actions>
    </form>
  </mat-card>
</main>
