main {
  height: calc(100vh - 56px);
  width: 100vw;
}

mat-card{
  width: min(450px, 90vw);
  height: fit-content;
  padding: 20px;
}

mat-card-title{
  color: var(--mat-app-text-color);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

mat-card-actions{
  padding: 10px 0 0 0;

}

a{
  font-weight: lighter;
  padding: 0 20px;
  margin-top: 8px;
}

@media screen and (min-width: 600px) {
  main {
    height: calc(100vh - 64px);
  }
}
