<mat-form-field [appearance]="appearanceValue"
                [floatLabel]="floatLabelTypeValue"
                [hintLabel]="hintLabelValue"
                [hideRequiredMarker]="hideRequiredMarkerValue"
                [color]="colorValue"
                fxFlexFill
>
  @if (labelValue) {
    <mat-label>{{ labelValue }}</mat-label>
  }
  <input matInput
         [type]="typeValue"
         [formControl]="inputFormControl()"
         [autocomplete]="autocompleteValue"
         [placeholder]="placeholderValue"
         [required]="isRequired"
  >

  @if (hasActionHide) {
    <button mat-icon-button
            type="button"
            matSuffix
            [color]="colorValue"
            (click)="hidePassword.set(!hidePassword())"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword()"
    >
      <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  }

  @if (hasActionClear) {
    <button mat-icon-button
            type="button"
            matSuffix
            [color]="colorValue"
            (click)="inputFormControl().reset"
            [attr.aria-label]="'Clear'"
    >
      <mat-icon>clear</mat-icon>
    </button>
  }

  @if (iconPrefixValue) {
    <mat-icon [color]="colorValue" matIconPrefix>{{ iconPrefixValue }}</mat-icon>
  }

  @if (iconSuffixValue) {
    <mat-icon [color]="colorValue" matIconSuffix>{{ iconSuffixValue }}</mat-icon>
  }

  @if (txtPrefixValue) {
    <span matTextPrefix>{{ txtPrefixValue }}</span>
  }

  @if (txtSuffixValue) {
    <span matTextSuffix>{{ txtSuffixValue }}</span>
  }

  @if (inputFormControl().invalid && inputFormControl().touched) {
    <mat-error>{{ errorMessage() }}</mat-error>
  }
</mat-form-field>
